# Byte-compiled / compiled files
__pycache__/
*.pyc

# Operating system files
.DS_Store

# Environment and dependency files
.env
venv/

# Logs and other runtime files
*.log

# Documentation and markdown files
lastrun.md
record.md

# Python scripts
old_evaluation.py

# Data files
*.csv
!data/.gitkeep  # To keep the data directory in version control if empty

# Model files
*.pkl

# Additional ignored paths
models/best_model_random forest(tuned).pkl